.main{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}
.contact{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  margin: 0;
  padding: 10px 0px 0px 10px;
}
.middle-container{
 background-color: #E4F9F5;
 margin: 0;
}
.bottom-container{
 background-color: #E4F9F5;
}
h1{
  font-family:'Sacramento', cursive;
  font-size: 5.2rem;
  color: #707070;
  margin: 120px auto 0 auto;
  width: auto;

}
p{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  color: #707070;
}
h2{
  font-family:'Montserrat', sans-serif;
}
h3{
  font-family:'Montserrat', sans-serif;
}
span{
  text-decoration: underline;
}

.top-clouds{

  position: absolute;
  right: 19rem;
  top: 4rem;
}

.bottom-clouds{
  position: absolute;
  left: 27rem;
  top: 20rem;

}
.dp{
  width: 100px;
  height: 100px;
}
hr{
  margin:0;
}
.contact-div{
  background-color: #E4F9F5;
  position: fixed;
   padding: 2em;
   left: 50%;
   top: 0%;
   transform: translateX(-50%);
}
.contact-me{
  font-size: 1.5rem;
  color: #af2d2d;
}
.cie{
  height: 3.8rem;
  width: 4rem;
}
.cic{
  height: 3.8rem;
  width: 4rem;
}
.ciw{
  height: 3.8rem;
  width: 4rem;
}
.cil{
  height: 3.8rem;
  width: 4rem;
}
.cit{
  height: 3.8rem;
  width: 4rem;
}
.cii{
  height: 3.8rem;
  width: 4rem;
}
.contact-me-div{
  background-color: #ffffff;
  width: 200px;
  height: 30px;
  position: fixed;
  bottom: 1.8rem;
  right: 1.8rem;
  background-clip: border-box;
  border-style: solid;
  border-radius: 2rem;
}
.body-main{
  background-color: #E4F9F5;
}
